.tmdb-searchoptions {

	width: 638px;
	margin-left: auto;
	margin-right: auto;
	
	select {
		width: 75px;
	}

  input[type="number"] {
    .border-radius(3px);
    width: 45px;
  }

	label {
		margin-right: 5px;
	}

	header,
	.tmdb-searchoption {
		/*width: 100%;*/
		display: inline-block;
	}

	.tmdb-searchoption {
		margin-top: 15px;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}
	}



	.tmdb-searchoption__field {
		display: inline-block;


	}
}
